* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/im.jpg) no-repeat center center/cover;
}
.container {
  text-align: center;
}
header {
  color: #333;
  background: rgba(255, 255, 255, 0.7);
  margin-bottom: 10%;
  font-weight: 800;
}
main {
  width: 400px;
  background: rgba(255, 255, 255, 0.7);
  margin-inline: auto;
  padding: 3rem 1.8rem 1.5rem;
  height: 15rem;
  backdrop-filter: blur(7px);
  margin-bottom: 15%;
  border-radius: 10px;
  transition: 0.1s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7), -5px -5px 10px rgba(0, 0, 0, 0.7);
}
.main-content {
  color: white;
  text-shadow: 1px 1px 10px black;
  font-size: 1.2em;
  line-height: 1.5;
}
.main-author {
  color: #fc2616;
  text-shadow: 1px 1px 10px white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  font-size: 20px;
}
button {
  padding: 7px 10px;
  margin-top: 20px;
  border: 1px solid white;
  color: white;
  background: #000;
  font-size: 15px;
  border-radius: 0.3rem;
  font-weight: 700;
  transition: 0.5s ease;
}
button:hover {
  color: #000;
  background: #fff;
  border: 1px solid black;
}
